h1 {
    a {
        color: #5d5d5d;
        &:hover {
            text-decoration: none;
            color: black;
            transition: 0.5s;
        }
    }
    h4 {
        font-weight: 200;
    }
}

h2, h3 {
    color: #555;
}

h3 {
    margin-bottom: 20px;
}

.thinner, p {
    font-weight: 300;
}

h4 {
    a {
        color: #333;
        &:hover {
            text-decoration: none;
        }
    }
}

h5 {
    display: inline;
    a {
        margin-left: 20px;
        text-transform: uppercase;
        color: #5d5d5d;
        &:hover {
            color: black;
            text-decoration: none;
            transition: 0.5s;
        }

    }
}

p, li {
    letter-spacing: 0.5px;
    font-weight: 400px !important;
    font-size: 16px;
}

.highlight {
    background-image: linear-gradient(to right, transparent 50%, yellow 50%);
        background-origin: 0;
        background-size: 200% 50%;
        background-repeat: repeat-x;
        background-position: 0 100%;
        transition: background-position 0.5s;
    &:hover {
        background-position: -100% 100%;
    }
}

.index-img {
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    &:hover {
        padding: 10px;
        transition: 0.3s;
    }
}

.separator {
    border-bottom: 1px solid #ddd;
    padding: 40px 5px 0px;
    margin-bottom: 20px;
}

.nav-bar {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    background-color: white;
}

.nav {
    margin-top: 36px;
}

.content {
    margin-top: 140px;
}

.margin {
    padding-top: 50px;
}

.footer {
    margin-top: 80px;
    margin-bottom: 30px;
    padding: 10px 10px 0px;
    h5 a, p {
        color: #777;
        &:hover {
            color: black;
            transition: 0.6s;
        }
    }
    p {
        text-align: right;
    }
}

html {
  scroll-behavior: smooth;
}

.modal-body {
    img {
    width: 100%;
    }
}

.no-style {
    border: none;
    background-color: transparent;
    &:focus, &:active {
        border:none;
    }
}

.my-menu {
    position: fixed;
    h1 {
        font-weight: 300;
        font-size: 16px;
    }

    h2 {
        font-size: 16px;
        padding: 2px 0px;
        margin: 6px 0;
        a {
            color: #555;
            padding-right: 8px;

            &:hover {
                text-decoration: none;
                color: black;
            }
        }
    }
}

.underline-text {
    border-top: 1px solid #eee;
    padding-top: 5px;
    h6 {
        display: inline;
        text-align: left;
        font-weight: 400;
        color: #999;
        margin-left: -10px;
    }
}

@media (max-width: 767px) {
  .hidden-sm {
    position: static !important;
  }
}

.about-img {
    padding: 30px;
    width: 100%;
}

.howdy {
    color: #555;
    &:before {
        content: "Hi";
    }
    &:hover {
        text-decoration: none;
    }
    &:hover:before {
        transition: 0.3s;
        content: "Howdy";
        color: #800000;
    }
}

.blue { 
    color: #4285F4; 
    @extend %googley;
}
.red { 
    color: #EA4335; 
    @extend %googley;  
}
.yellow { 
    color: #fbbc05; 
    @extend %googley;
}
.green { 
    color: #34a853; 
    @extend %googley;
}

%googley {
    &:hover{
        text-decoration: none;
    }
}

.pardon {
    position: fixed;
    z-index: 2;
    font-size: 30px;
    font-weight: 600;
    background-color: white;
    border: 10px solid #eee;
}

.figure {
    @extend %figure;
    img {
        width: 100%;
    }
    h6 {
        text-align: center;
    }
}

.figure-sm {
    @extend %figure;
    img {
        width: 50%;
    }
    h6 {
        padding-left: 20px;
        display: inline;
        text-align: right;
        vertical-align: bottom;
    }
}

%figure {
    margin: 20px 0px 40px;    
    img {
        margin: 0;
    }
    h6 {
        font-style: italic;
        font-weight: 400;
    }
}