.my-menu {
    h1 {
        font-weight: 300;
        font-size: 16px;
    }

    h2 {
        font-size: 16px;
        padding: 2px 0;
        margin: 6px 0;
        a {
            color: #555;

            &:hover {
                text-decoration: none;
                border-bottom: 4px solid #ba5d6d;
            }
        }
    }
}
