html {
  scroll-behavior: smooth;
}
@import url(//db.onlinewebfonts.com/c/14bcfcf98e9d42ff3c30c88d332fd7d4?family=Avenir+Next+Demi+Bold);

@font-face {
  font-family: AvenirNext-Regular;
  src: url(fonts/AvenirNext-Regular.tff);
}

@font-face {
	font-family: "AvenirNext-DemiBold";
    src: url("//db.onlinewebfonts.com/t/14bcfcf98e9d42ff3c30c88d332fd7d4.eot");
    src: url("//db.onlinewebfonts.com/t/14bcfcf98e9d42ff3c30c88d332fd7d4.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/14bcfcf98e9d42ff3c30c88d332fd7d4.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/14bcfcf98e9d42ff3c30c88d332fd7d4.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/14bcfcf98e9d42ff3c30c88d332fd7d4.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/14bcfcf98e9d42ff3c30c88d332fd7d4.svg#Avenir Next Demi Bold") format("svg");
}

body {
	font-family: AvenirNext-Regular, Arial, Sans-Serif;
	color: #444444;
	margin-bottom: 50px;
}

h1 {
	font-size: 32px;
	font-family: AvenirNext-DemiBold, Arial, Sans-Serif;
	font-weight: 600;
}

.row {
	padding: 0;
	margin: 0;
}

.content-list {
	font-family: AvenirNext-DemiBold, Arial, Sans-Serif;
	font-weight: 600;
}

.content-list li {
	margin-bottom: 8px;
}

.content-list a {
	color: #444;
}

.content-list a:hover {
	text-decoration: none;
	color: #939393;
	border-bottom: 1px solid #939393;
}

.content-pg {
	margin: 60px 0 25px;
}

.content-pg h3 {
	font-family: AvenirNext-DemiBold, Arial, Sans-Serif;
	font-weight: 600;
	text-transform: uppercase;
}

.content-pg h4 {
	font-family: AvenirNext-DemiBold, Arial, Sans-Serif;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 20px;
}

.content-pg h5 {
	font-family: AvenirNext-DemiBold, Arial, Sans-Serif;
	font-weight: 600;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.content-pg h6 {
	text-align: center;
	font-size: 12px;
	margin-top: 5px;
	display: block;
}

.content-pg img {
	width: 100px;
}

.design-card {
	border-radius: 2px;
	padding: 25px;
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #bbb;
	color: #444;
	overflow: wrap;
	display: block;
	line-height: 20px;
	transition: 0.3s;
}

.design-card:hover {
	background-color: #444;
	color: #fff;
	text-decoration: none;
}

.design-card h5 {
	font-family: AvenirNext-DemiBold, Arial, Sans-Serif;
	font-weight: 600;
	color: #444;
	text-align: center;
}

.design-card:hover h5 {
	color: #fff;
}

.external-url {
	text-transform: uppercase;
	font-family: AvenirNext-DemiBold, Arial, Sans-Serif;
	font-weight: 600;
	color: #444444;
	border-bottom: 2px solid #444;
	font-size: 16px;
}

.external-url img {
	width: 15px;
	margin-top: -5px;
}

.external-url:hover {
	text-decoration: none;
	color: #939393;
	border-bottom: 2px solid #939393;
}

.figure {
	margin-bottom: 10px;
}

.figure h6{
	text-align: center;
}

.figure img {
	width:100%;
	padding-bottom: 10px;
}

.font {
	font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; 
	padding: 10px;
	border: 1px solid #bbb;
	text-align: center;
}

.footer {
	margin-top: 80px;
	margin-bottom: 30px;
	padding: 10px 10px 0px; 
}

.footer a {
	text-transform: uppercase;
	margin-right: 20px;
	font-family: AvenirNext-DemiBold, Arial, Sans-Serif;
	font-weight: 600;
}

.footer a, .footer p {
	display: inline;
	color: #939393;
}

.footer a:hover, .footer p:hover {
    color: #444444;
    transition: 0.6s; 
    text-decoration: none;
}
  
.footer p {
    text-align: right; 
}

.highlight {
  background-image: linear-gradient(to right, transparent 50%, #FFF784 50%);
  background-origin: 0;
  background-size: 200% 50%;
  background-repeat: repeat-x;
  background-position: 0 100%;
  transition: background-position 0.3s; }
  .highlight:hover {
    background-position: -100% 100%; }

.home-link {
	font-family: AvenirNext-DemiBold, Arial, Sans-Serif;
	font-weight: 600;
	text-transform: uppercase;
	padding: 30px 0px;
	color: #444;
}

.home-link:hover {
	text-decoration: none;
	color: #939393;
}

.illustration-img {
	width: 200px;
}

.illustration-row p {
	color: #939393;
	text-align: center;
	margin-top: 10px;
}

.illustration-row img {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 130px;
}

.intro {
	font-family: AvenirNext-DemiBold, Arial, Sans-Serif;
	font-weight: 600;
	text-transform: uppercase;
	margin: 60px 0 25px;
}

.job-title {
	padding-bottom: 25px;
}

.job-title h3{
	font-family: AvenirNext-DemiBold, Arial, Sans-Serif;
	font-weight: 600;
	font-size: 16px;
	padding-top: 4px;
	margin: 0;
}

.job-title a {
	color: #939393;
}
.job-title a:hover {
	color: #444;
}

.job-title p {
	color: #939393;
}

.maya p {
	text-align: center;
	font-size: 14px;
	margin-top: 5px;
}

.maya img {
	width: 100%;
	border-radius: 3px;
}

.navbar-cust {
	font-family: AvenirNext-DemiBold, Arial, Sans-Serif;
	font-weight: 600;
	text-transform: uppercase;
	padding: 30px 0px 10px;
	margin-bottom: 30px;
	position: fixed;
	top: 0;
	width: 78%;
	z-index: 1;
	background: white;
}

.navbar-cust li {
	text-transform: uppercase;
	list-style-type: none;
	display: inline;
}

.navbar-cust li a{
  color: #939393;
  margin-right: 20px;
  display: inline;
}

.navbar-cust li a:hover {
	text-decoration: none;
	color: #444;
}

.pill {
	border-radius: 3px;
	background-color: #FFF784;
	padding: 0px 5px;
}

.project-card {
	margin-bottom: 20px;
}

.project-card h2 {
	font-family: "Times New Roman", Times, serif;
	font-weight: bold;
	color: #444;
	font-size: 42px;
	margin-bottom: 25px;
	line-height: 40px;
	padding-top: 5px;
}

.project-card h5 {
	text-transform: uppercase;
	display: inline;
	font-size: 16px;
}

.project-card a {
	color: #444444;
	text-transform: uppercase;
	border-bottom: 2px solid #444;
	font-family: AvenirNext-DemiBold, Arial, Sans-Serif;
	font-weight: 600;
}

.project-card a:hover {
	text-decoration: none;
	color: #939393;
	border-bottom: 2px solid #939393;
}

.project-card img {
	width: 100%;
}

.project-card a img {
	width: 12px;
	margin-top: -5px;
}

.right-align {
	text-align: right;
}

.section-br {
	border-top: 1px solid #DBDBDB;
	margin-top: 70px;
}