html {
  scroll-behavior: smooth;
}

@keyframes fadeInAnimation { 
	0% { 
		opacity: 0; 
	} 
	100% { 
		opacity: 1; 
	 } 
} 

body {
	color: #1F1A1A;
	font-family: 'Nunito Sans', sans-serif;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

.disclaimer {
	font-size: 0.875rem;
	color: #888;
}

span.color {
	color: #FE6E41;
}

.page-container {
	padding: 0 2rem;
	margin: 0 auto 2rem; 
	max-width: 1024px;
}

.nav-bar {
	padding: 1rem 0 2rem;
	margin-bottom: 4.25rem;
}
.nav-bar a {
	color: #888888;
	font-weight: 700;
	font-size: 1rem;
	text-decoration: none;
	text-transform: uppercase;
}
.nav-bar a:hover {	
	color: #1F1A1A;
	transition: 0.3s;
}
.nav-bar .nav-right {
	float: right;
}
.nav-bar .nav-right a {
	margin-left: 2.5rem;
}

.projects-header-section {
	margin-bottom: 6rem;
}

.projects-header-section .connect-icons a {
	margin-right: 1.25rem;
	opacity: 0.3;
}
.projects-header-section .connect-icons a:hover{
	opacity: 0.8;
	transition: 0.5s;
}

h1 {
	font-size: 2.5rem;
	font-weight: 600;
	margin-bottom: 2rem;
	max-width: 687px;
}
h2 {
	font-size: 1.2rem;
	font-weight: 400;
	color: #888888;
	margin: 0;
}

span.highlight {
	background-color: #FFE8E1;
	color: black;
	border-radius: 0.25rem;
	padding: 0 0.25rem;
}
span.bold {
	font-weight: 700;
}

.projects-list-section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 -1.25rem 3.5rem;
}

.projects-header {
	margin-bottom: 1rem;
}
.projects-header h3 {
	display: inline-block;
	margin: 0;
	font-size: 1.5rem;
}
.projects-header a {
	float: right;
	margin-top: 10px;
	text-decoration: none;
	color: #FE6E41;
	opacity: 0.6;
}
.projects-header a:hover {
	opacity: 1;
	transition: 0.3s;
}


.projects-list-section > .project-card {
	width: calc(33.33% - 2.5rem);
	margin: 1.25rem;
	margin-bottom: 3rem;
	text-decoration: none;
	transition: transform .5s ease;
}

.project-card:hover img {
	transition: 0.2s;
	opacity: 0.65;
}

.project-card h3 {
	font-weight: 600;
	font-size: 1rem;
	margin: 0.25rem 0 0.25rem;
	color: #1F1A1A;
	display: inline-block;
}
.project-card h4 {
	font-weight: 400;
	font-size: 0.875rem;
	color: #888888;
	margin: 0;
}
.project-card img {
	width: 100%;
}
.project-card h3.date {
	font-weight: 400;
	color: #888888;
	float:right;
}

footer {
	padding: 2rem 0;
}
footer p {
	display: inline;
}
.footer-right {
	float: right;
}
.footer-right a {
	margin-left: 0.75rem;
	color: #2F2B2B;
	text-decoration: none;
}
.footer-right a:hover {
	opacity: 0.6;
	transition: 0.3s;
}

.project-page-container, 
.about-me-container {
	margin: 0 auto 5rem;
	max-width: 680px;
}
.project-page-container h1 {
	margin-bottom: 1rem;
}
.project-page-container h2 {
	margin-bottom: 2.5rem;
}
.project-page-container p {
	line-height: 1.6rem;
}
.project-page-container a {
	color: #1F1A1A;
	display: block;
}
.project-page-container img {
	width: 100%;
	margin: 1rem 0 0rem;
}
.project-page-header {
	margin-bottom: 2.5rem;
}
.project-page-header p {
	margin: 0;
	line-height: 0.9rem;
	font-size: 0.9rem;
}
.project-page-container h3 {
	font-size: 1.25rem;
	margin: 3rem 0 0.5rem;
}
/* .project-page-container h3:before {
	content: '\02022';
	color: #FE6E41;
	margin: 0 1rem 0 -2rem;
} */
.project-page-container h4 {
	font-size: 1.1rem;
	margin-bottom: 0.5rem;
	font-weight: 800;
}
.project-page-container p {
	margin-bottom: 0.5rem;
	color: #2F2B2B;
}
.project-page-container ul, 
.project-page-container ol {
	margin-top: 0;
	color: #2F2B2B;
	line-height: 1.6rem;
}
.process {
	margin: -20px -25% 0;
}

.image-group img {
	margin-top: 1.75rem;
	margin-bottom: 0;
	border-radius: 0.25rem;
}
.image-group img:first-of-type {
	margin-top: 0;
}

.caption {
	font-size: 0.875rem; 
	color: #888;
	margin: 0;
	text-align: center;
	font-style: italic;
}

.img-2 {
	display: flex;
	margin: 0 -4rem;
}
.img-2 > img {
	width: 50%;
	height: 50%;
	margin: 1rem;
}

.about-me-container h1 {
	font-size: 1.5rem;
	font-weight: 800;
}
.about-me-container p {
	line-height: 1.75rem;
	margin-bottom: 1.5rem;
	color: #2F2B2B;
}

.lets-connect {
	margin-bottom: 3rem;
}
.lets-connect a {
	text-decoration: none;
	color: #2F2B2B;
	margin-right: 2rem;
	padding-bottom: 0.25rem;
	line-height: 1rem;
	border-bottom: 4px solid #FFE8E1;
	opacity: 0.8;
}
.lets-connect a:hover {
	border-color: #FE6E41;
	opacity: 1;
	transition: 0.3s;
}
.lets-connect a img {
	height: 20px;
	margin-right: 0.5rem;
	vertical-align: top;
}

.context-question {
	text-align: center;
	font-style: italic;
}

.competitive-analysis {
	width: 100%;
	font-size: 0.875rem;
	border: 1px solid #ddd;
	padding: 1rem;
	table-layout: fixed;
}
.competitive-analysis th {
	text-align: left;
}
.competitive-analysis td {
	border-bottom: 1px solid #ddd;
	vertical-align: top;
	padding: 1rem 0 0;
}
.competitive-analysis tr:last-of-type td {
	border-width: 0;
}
.competitive-analysis ul {
	padding: 0 1rem;
	line-height: 1.25rem;
}
.competitive-analysis ul li {
	margin-bottom: 0.25rem;
}

@media only screen and (max-width: 1100px) {
	.project-page-container,
	.about-me-container {
		margin: 0 14%;
	}
}

@media only screen and (max-width: 768px) {
	h1 {
		font-size: 1.5rem;
	}
	.page-container {
		padding: 0 0.5rem;
	}
	.projects-list-section > .project-card {
		width: calc(50% - 1.5rem);
		margin: 0.75rem;
	}
	.projects-header-section {
		margin-bottom: 3rem;
	}

	.projects-list-section {
		margin: 0 -0.75rem 1rem;
	}
	.project-card h3 {
		font-size: 0.9rem;
	}
	.project-card h3.date {
		display: none;
	}
}

@media only screen and (max-width: 576px) {
	.projects-header-section .connect-icons a img {
		max-width: 20px; 
	}
	.project-page-container,
	.about-me-container {
		margin: 0 5%;
	}
	.nav-bar {
		margin-bottom: 2rem;
	}
	footer p {
		font-size: 0.875rem;
		display: block;
	}
	span.footer-right {
		display: block;
		float:left;
	}
	span.footer-right a {
		margin: 0 2rem 0 0;
	}
	.process {
		margin: -20px -10% 0;
	}
}

.img-interactive {
	cursor: pointer;
}

.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 2rem; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

.modal-content {  
	-webkit-animation-name: fadeInAnimation;
	-webkit-animation-duration: 0.6s;
	animation-name: fadeInAnimation;
	animation-duration: 0.6s;
}


.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

#modalImg {
	width: 80%;
	display: block;
	margin: 0 auto;
}