body {
	background-color: #26221D;
	font: .81em/150% Arial, Helvetica, sans-serif;
	color: #666;
}
a {
	text-decoration: none;
}
p {
	margin: 0 0 1.2em;
	padding: 0;
}

ul {
	margin: 1em 0 1.4em 24px;
	padding: 0;
	line-height: 140%;
}

img {
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.4em;
	margin: 20px 0 .4em;
	color: #232323;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1.2em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}

#wrapper {
	width: 980px;
	margin: 0 auto;
}

/********* HEADER **********/

.site-title {
	text-align: center;
	text-transform: uppercase;
	margin: 10px 0 20px;
	letter-spacing: 0.1em;
}

.site-title a {
	font: bold 30px/100% Arial, Helvetica, sans-serif;
	color: #fff;
	text-decoration: none;
}

/********* NAV-BAR **********/

.nav {
	margin: 0;
	padding: 0;
 	text-align: center;
}
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

.nav li {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: inline;
}
.nav a {
	font-size: 14px;
	line-height: 100%;
	color: white;
	padding: 8px 15px;
	text-decoration: none;
	margin-right: 20px;
	letter-spacing: .1em;
	text-transform: uppercase;
}
.nav a:hover {
	color: #fff;
	border: 2px solid white;
	transition: 0.2s;
	margin-right: 16px;
}

/********* CONTENT **********/

.content {
	background: #fff;
	margin: 30px 0 20px;
	padding: 20px 35px 16px;
	width: 600px;
	float: left;
	/* rounded corner */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	/* box shadow */
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,.4);
	box-shadow: 0 1px 3px rgba(0,0,0,.4);
}

.content-menu {
	background: #fff;
	margin: 30px auto 20px;
	padding: 20px 35px 16px;
	width: 75%;
	max-width: 900px;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.post {
	margin-bottom: 40px;
}
.post-title {
	margin: 0 0 5px;
	padding: 0 0 20px;
	font: bold, Arial, Helvetica, sans-serif;
	font-size: 1.4em;
	border-bottom: 1px dashed #ccc;
	text-transform: uppercase;
	color: #555;
}

.row {
  display: flex;
  padding-bottom: 20px;
  margin: 0 0 15px;
  border-bottom: 1px dashed #ccc;
}
.row:last-child {
	border: none;
	padding-bottom: 0;
}

.column {
  flex: 50%;
  padding: 0px;
}
.column:first-child {
	padding-right: 20px;
}

button {
	font-size: 12px;
	color: white;
	background-color: #D97824;
	padding: 10px 20px;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

button:hover {
	cursor: pointer;
	background-color: #8C5351;
	transition: 0.3s;
}


/********* SIDE COLUMN **********/

.sidebar {
	width: 280px;
	float: right;
	margin: 30px 0 30px;
}
.sidebar-content {
	background: #fff;
	margin: 0 0 20px;
	padding: 10px 20px;

	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
.sidebar-content h2 {
	margin: 0 0 5px;
	padding: 0;	
	color: #555;
	font-size: 1.1em !important;
}
.sidebar-content ul {
	margin: 0;
	padding: 0;
}
.sidebar-content li {
	margin: 0;
	padding: 6px 0;
	list-style: none;
	clear: both;
	border-top: dashed 1px #ccc;
}

.sidebar-content h4 {
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.sidebar-content li h4 {
	text-transform: capitalize;
	margin: 5px 0;
	font-size: 1.2em;
}


/********* FOOTER **********/

.footer {
	clear: both;
	color: #ccc;
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.footer a {
	color: #fff;
	font-weight: bold;
}

.footer p {
	display: inline;
	font-size: 12px;
}

.second {
	float: right;
}


/********* MENU PAGE **********/

.menu-title {
	text-align: center;
}